<%= render "layouts/banner" %>

<div class="container">
  <div class="col-sm-8 col-sm-offset-2">

    <h2>Booking information for <%= @restaurant.name %></h2>
    <%= simple_form_for [@restaurant, @booking] do |f| %>
      <%= f.input :guests %>
      <%= f.input :date %>
      <%= f.input :time_1, hint: 'First time preference' %>
      <%= f.input :time_2, hint: 'Second time preference' %>
      <%= f.input :email, placeholder: 'user@domain.com' %>
      <%= f.button :submit %>
    <% end %>

  </div>
</div>
