<%= render "layouts/banner" %>

<div class="container">
  <div class="col-sx-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="booking-header">
      <h2>Booking information for <%= @restaurant.name %></h2>
    </div>
    <div class="booking-notification">
      <p>Please complete all of the information requested below.</p>
      <p><em>Please Note:</em> if booking for the same day please ensure your request is received at least 2 hours before your earliest prefered time.</p>
    </div>
  </div>
  <div class="col-sx-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3" class="booking-form">
    <%= simple_form_for [@restaurant, @booking] do |f| %>
      <%= f.input :guests %>
      <br>
      <%= f.input :date %>
      <br>
      <%= f.input :time_1, priority: /US/, hint: 'First time preference' %>
      <br>
      <%= f.input :time_2, priority: /US/, hint: 'Second time preference' %>
      <br>
      <%= f.input :email, placeholder: 'user@gmail.com' %>
      <br>
      <%= f.input :telephone, placeholder: '+1 987 654 3211' %>
      <br>
      <%= f.button :submit, "Submit Your Booking Request", class: "btn-booking", style: "background:#2574BC; color:white; border: #2574BC" %>
    <% end %>
  </div>
</div>
