<%= render "layouts/banner" %>

<div class="container">
  <div class="col-sx-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
    <div class="booking-confirmation-header">
      <h2>Booking request for <%= @restaurant.name %> received</h2>
    </div>
    <div>
      <p>You will also receive an email confirming that your request has been received. We will be in touch via email with your confirmation.</p>
    </div>
    <div class="booking-confirmation-info">
      <div class="date">
        <i class="far fa-calendar-alt "></i><%= " Date"": #{@booking.date.strftime("%A %e %B %Y")}" %>
      </div>
      <br>
      <div class="time1">
        <i class="far fa-clock "></i><%= " 1st Time requested: #{@new_time1}" %>
      </div>
      <br>
      <div class="time2">
        <i class="far fa-clock "></i><%= " 2nd Time requested: #{@new_time2}" %>
      </div>
      <br>
      <div class="guests">
        <i class="fas fa-users "></i><%= " Number of guests: #{@booking.guests}" %>
      </div>
      <br>
      <div class="email">
        <i class="far fa-envelope-open "></i><%= " Contact email: #{@booking.email}" %>
      </div>
      <br>
      <div class="btn">
        <%= link_to "Search for more locations", restaurants_path %>
      </div>
      <br>
      <div class="btn">
        <%= link_to "See all requests made", requests_path %>
      </div>
    </div>
  </div>
</div>
